body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
              url('../../assets/images/fondo-login3.png') repeat;
  background-size: contain;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registro-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.registro-container {
  background: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
}

.registro-form input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.registro-form button {
  width: 100%;
  padding: 0.5rem;
  border: none;
  background-color: #3b4cca;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.errores {
  color: red;
  margin-top: 1rem;
}

.mensaje-ok {
  color: green;
  margin-top: 1rem;
}
